.brands {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    & img {
        width: auto;
        flex-grow: 0;
        /* flex-shrink: 1; */
    }
}