.content_container {
    align-items: center;

    & h1, & h2 {
        margin: 0;
        text-align: center;
    }

    & h1 {
        position: relative;
        margin-bottom: 1em;
    }

    & h2 {
        margin-top: 1em;
        font-weight: 400;
    }

    &.underline {
        & h1::after {
            content: "";
            --offset: 15%;
            background-color: var(--gold);

            bottom: -10px;
            z-index: -1;
            height: 3px;
            position: absolute;
            left: var(--offset);
            right: var(--offset);
        }
    }
}

