.halfContent {
    &.callout {
        display: flex;
        padding: 5rem 20%;
        align-items: center;
        justify-content: flex-end;
        
        color: var(--white);
        background: var(--black);

        & h1 {
            margin: 0;
            width: 100%;
            line-height: 1.3;
            padding-bottom: 1em;
            border-bottom: 1px solid;
        }
    }
    &.iconList {
        gap: 2rem;
        padding: 5rem 15%;
        align-self: center;

        & img {
            --size: 133px;
            width: var(--size);
            height: var(--size);
            margin-right: 1rem;
        }
    }
}

