.classRow {
    display: flex;
    margin-bottom: 3rem;

    @media screen and (max-width: 768px) {
        text-align: center;
        align-items: center;
        flex-direction: column;
    }

    & .classDetails {
        flex-grow: 1;

        & h3 {
            margin: 0 0 -.5em;
        }

        & .accent {
            font-weight: bold;
            color: var(--gold);
        }
    }
}