#Navigation {
    width: 100%;
    background-color: var(--black);
}

.navigation {
    gap: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & a {
        font-size: 16px;
        color: var(--gold);
        text-decoration: none;

        &.active,
        &:hover {
            color: var(--white);
        }
    }
}
