.TripleCallout {
    gap: 1px;
    padding: 1px 0;
    margin-top: 5rem;
    background-color: var(--black);
}

.callout {
    padding: 2em;
    background-color: var(--white);
    text-align: center;

    & .icon {
        --size: 3rem;
        width: var(--size);
        height: var(--size);

        & svg {
            width: 100%;
            height: 100%;
        }
    }

    & .copy {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0 auto .5em;
    }

    & .ksp {
        display: flex;
        margin: 0 auto;
        color: var(--black);
        text-decoration: none;
    }
}